:root {
    --primary: #eb2f64;
    --primary-light: #ff3366;
    --primary-dark: #ba265d;

    --grey-light1: #faf9f9;
    --grey-light2: #f4f2f2;
    --grey-light3: #f0eeee;
    --grey-light4: #ccc;

    --grey-dark1: #333;
    --grey-dark2: #777;
    --grey-dark3: #999;

    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
    --sahdow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
    // ///////////////
    --line: 1px solid var(--grey-light3);
}

$bp-largest: 75em;  // 1200px
$bp-large: 68.75em;  // 1100px
$bp-medium: 56.25em;  // 900px
$bp-small: 37.5em;  // 600px
$bp-smaller: 31.25em;  // 500px

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @media only screen and (max-width:$bp-large){
        font-size: 50%;
    }
}

body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1.4rem;
    color: var(--grey-dark2);
    background-image: linear-gradient(
        to right bottom,
        var(--primary-light),
        var(--primary-dark)
    );
    background-repeat: no-repeat;
    min-height: 100svh;
}
